*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.5rem;
    flex-wrap: wrap;
}

/**
.fixedheader{
    position: fixed;
    width: 1263px;
    height: 90px;
}
**/

.logo{
    width: 14rem;
    min-height: 5rem;
    display: flex;
    align-items:center;
}

.navbar{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 60rem;
    min-height: 3rem;
    text-align: center;
    padding: 0.5rem;
}

.navbar li{
    float: left;
    list-style-type: none;
    padding-right: 0.5rem;
}

.navbar a{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.country{
    width: 4rem;
    min-height: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    align-self: center;
}

.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    background-color: rgba(140, 219, 239, 0.25);
    text-align: center;
}

.header2 p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: black;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
    flex-wrap: wrap;
}

.section10{
    width: 30rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

.section10 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.3rem;
    text-align: left;
    color: #353F50;
    line-height: 5rem;
}

.section10 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-align: left;
    color: #353F50;
    margin-top: 4.5rem;
}

.link {
    margin-top: 8rem;
}

.link a{
    color: #353F50;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 1.8rem;
}

.arrowdown{
    width: 2.5rem;
    margin-top: -2.5rem;
    margin-left: 11rem;
}

.section11{
    width: 30rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30rem;
}

.dots{
    align-self:baseline;
    margin-left: -3rem;
    margin-bottom: 1rem;
}

.videobg{
    border-radius: 1rem;
    background: linear-gradient(260deg,rgba(5, 77, 124, 0.546),rgba(6, 142, 232, 0.368)), url("https://interswitchgroup.com/assets/images/home/video-min.jpg");
    background-size: cover;
    width: 29rem;
    height: 18rem;
    margin-top: -23rem;
}

.videobutton{
    width: 5rem;
    height: 5rem;
    margin-top: -12rem;
}

.vid{
    border-radius: 1rem;  
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    padding: 1rem;
    width: 60rem;
    margin: auto;
}

.section2 h4{
    color:  rgba(64, 163, 191, 0.829);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

.section2 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
    color: #353F50;
    text-align: center;
}

.section2 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #353F50;
    text-align: center;
    margin-top: 1rem;
}

.section200{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem;
}

.section200-items{
    width: 18rem;
    min-height: 28rem;
    border: 0.2rem outset rgba(156, 137, 137, 0.068);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.section200-items img{
    width: 15rem;
}

.section200 h3{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    color: #353F50;
    margin-top: 2rem;
}

.section200 a{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #89a7dc;
    text-decoration: none;
    margin-top: 4rem;
}

.section3{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(169, 232, 248, 0.25);
}

.section3-items{
    min-height: 25rem;
    padding: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.section31{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
    color: #353F50;
    width: 30rem;
}

.section32{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #353F50;
    width: 25rem;
    margin-bottom: 9rem;
}

#btn{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    color: white;
    padding: 1.5rem;
    border: none;
    background-color: #1193b4dd;
    width: 17rem;
    border-radius: 0.5rem;
}

.section300{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(169, 232, 248, 0.25);
    padding-bottom: 8rem;
}

.section3-items2{
    min-height: 25rem;
    margin: 2rem;
    width: 15rem;
}

.section3-items2 img{
    width: 7rem;
    height: 7rem;
}

.section300 h1{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.3rem;
    color: #353F50;
}

.section300 p{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #353F50;
}

.sectionhouse {
    display: flex;
    flex-direction: column;
    width: 92.5rem;
    height: 135rem;
    margin: auto;
    background-image: url("https://interswitchgroup.com/assets/images/home/bigimg-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section4-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionhouse h2{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
}

.sectionhouse p{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8rem;
    color: rgb(225, 225, 225);
}

.section41 ,.section43 {
    align-self:self-end;
    width: 45rem;
}

.section42 ,.section44 {
    align-self: flex-end;
    width: 30rem;
}

.section5{
    width: 40rem;
    height: 32rem; 
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 20rem;  
}

.section5 h2{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: #353F50;
}

.section5 p{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #606874;
}

.section6{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: 3rem;
}

.section6-items{
    min-height: 20rem;
    margin: 0.5rem;
}

.section60{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
}

.img60{
    width: 30rem;
    height: 50rem;
}

.section61{
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.section61 h1{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
    color: #353F50;
}

.section61 p{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #353F50;
    margin-top: 1.8rem;
}

.list{
    color: rgba(16, 89, 113, 0.856);
    font-size: 1.4rem;
    padding: 1rem;
}

.section7{
   display: flex;
   background-color: #303f5a;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 70rem;
   margin: auto;
   border-radius: 1.5rem;
   min-height: 35rem;
   margin-top: 7rem;
   margin-bottom: 7rem;
   padding: 1rem;
}

#btn3{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color: white;
    padding: 1.5rem;
    border: none;
    background-color: #10abca;
    width: 20rem;
    border-radius: 0.5rem;
}

#btn2{
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color: white;
    padding: 1.4rem;
    width: 20rem;
    background-color:  #353F50;
    border: 0.2rem solid  white; 
    border-radius: 0.5rem;  
}

.section7 h2{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

.section7 h5{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn1{
    margin-bottom: -8rem;
    margin-right: 25rem;
}

.btn2{
    margin-top: 3rem; 
    margin-left: 18rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    width: 85rem;
    min-height: 35rem;
}

.footer-list {
    margin: 2rem;
}

.footer li{
    float: center;
    list-style-type: none;
    padding-bottom: 0.5rem;
}

.footer a{
    text-decoration: none;
    color:#353F50;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color:#353F50;
    line-height: 2.7rem;
}


.footer h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color:#353F50;
    margin-bottom: 1.5rem;
}

.flag{
    border-radius: 0.5rem;
}

.flags{
    padding-bottom: 1rem;
}

.footer6 {
  display: flex;
  justify-content: sp;
  align-items: center;
  margin: 3rem;
  border-top: 0.1rem solid #5a57572c;
}

.footer601 img{
    margin-top: -4rem;
}

.footer602 img{
    margin-top: 3rem;
    margin-right: 22rem;
    margin-bottom: -3rem;
}

.footer602{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    width: 35rem;
    text-align: center;
}

.footer603{
    width: 35rem;
}

.footer6-items{
    margin: 2rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
}

.footer6 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color:#353F50;
}

.footer6 h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color:#353F50;
    margin-left: 4.5rem;
}

.footer6 li{
    float: left;
    list-style-type: none;
}

.social{
    width: 5rem;
    color: #353F50;
    padding: 1.5rem;
}